examples/02-retail-revenue-mart.json
{
  "id": "ExaDemo02Retail0",
  "name": "Exasol Demo 2 — Retail Revenue Mart",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "d2000000-0000-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(CURRENT_SCHEMA, CURRENT_USER) AS DEMO_SCHEMA",
        "restrictToSelect": true,
        "executionMode": "sequentially"
      },
      "id": "d2000000-0000-4000-8000-000000000002",
      "name": "Resolve Write Schema",
      "type": "n8n-nodes-exasol.exasol",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "exasolApi": {
          "id": "ExasolDemoDbCred",
          "name": "Exasol Demo DB"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=CREATE TABLE IF NOT EXISTS \"{{ $json.DEMO_SCHEMA }}\".N8N_DEMO_DAILY_REVENUE (SALES_DATE DATE PRIMARY KEY, TRANSACTIONS DECIMAL(18,0), REVENUE DECIMAL(18,2))",
        "restrictToSelect": false,
        "executionMode": "sequentially"
      },
      "id": "d2000000-0000-4000-8000-000000000003",
      "name": "Create Mart Table",
      "type": "n8n-nodes-exasol.exasol",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "credentials": {
        "exasolApi": {
          "id": "ExasolDemoDbCred",
          "name": "Exasol Demo DB"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SALES_DATE, COUNT(*) AS TRANSACTIONS, ROUND(SUM(PRICE), 2) AS REVENUE FROM RETAIL.SALES GROUP BY SALES_DATE ORDER BY SALES_DATE DESC LIMIT 14",
        "restrictToSelect": true,
        "executionMode": "sequentially"
      },
      "id": "d2000000-0000-4000-8000-000000000004",
      "name": "Aggregate Daily Revenue",
      "type": "n8n-nodes-exasol.exasol",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "credentials": {
        "exasolApi": {
          "id": "ExasolDemoDbCred",
          "name": "Exasol Demo DB"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "={{ $('Resolve Write Schema').first().json.DEMO_SCHEMA }}",
        "table": "N8N_DEMO_DAILY_REVENUE",
        "dataMode": "autoMapInputData",
        "conflictColumns": [
          "SALES_DATE"
        ]
      },
      "id": "d2000000-0000-4000-8000-000000000005",
      "name": "Upsert Into Mart",
      "type": "n8n-nodes-exasol.exasol",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "exasolApi": {
          "id": "ExasolDemoDbCred",
          "name": "Exasol Demo DB"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "selectRows",
        "schema": "={{ $('Resolve Write Schema').first().json.DEMO_SCHEMA }}",
        "table": "N8N_DEMO_DAILY_REVENUE",
        "returnAll": true,
        "combineConditions": "AND",
        "where": {
          "conditions": [
            {
              "column": "REVENUE",
              "operator": "greaterThan",
              "value": "0"
            }
          ]
        },
        "sort": {
          "rules": [
            {
              "column": "SALES_DATE",
              "direction": "DESC"
            }
          ]
        }
      },
      "id": "d2000000-0000-4000-8000-000000000006",
      "name": "Read Back Mart",
      "type": "n8n-nodes-exasol.exasol",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ],
      "credentials": {
        "exasolApi": {
          "id": "ExasolDemoDbCred",
          "name": "Exasol Demo DB"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "content": "## Demo 2 — Retail Revenue Mart\n\nA mini-ETL: aggregate the last 14 days of `RETAIL.SALES` (~585M rows) into a small reporting table, **idempotently** — re-running refreshes the same 14 rows instead of duplicating them.\n\n**Expected output:** upsert reports `affectedRows: 14`; read-back returns exactly 14 items on every run.",
        "height": 280,
        "width": 900,
        "color": 5
      },
      "id": "d2s00000-0000-4000-8000-900000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -460
      ]
    },
    {
      "parameters": {
        "content": "### Resolve the write schema\n\nNothing is hardcoded: `SELECT COALESCE(CURRENT_SCHEMA, CURRENT_USER)` returns your credential’s *Default Schema*, or falls back to the schema named after your database user.\n\nSet the credential’s Default Schema to redirect all writes.",
        "height": 360,
        "width": 260
      },
      "id": "d2s00000-0000-4000-8000-900000000002",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        270,
        -160
      ]
    },
    {
      "parameters": {
        "content": "### DDL needs the guard off\n\nOne of only two nodes in the example set with *Restrict to SELECT Queries* **disabled** — required for `CREATE TABLE`.\n\n`IF NOT EXISTS` keeps existing rows so the upsert has history to merge into.",
        "height": 360,
        "width": 260,
        "color": 3
      },
      "id": "d2s00000-0000-4000-8000-900000000003",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        570,
        -160
      ]
    },
    {
      "parameters": {
        "content": "### Aggregate at the source\n\nGroups ~585M rows by day and keeps the newest 14 dates. The UPPERCASE column aliases match the mart’s column names exactly — that’s what *Auto-Map Input Data* in the next node relies on.",
        "height": 360,
        "width": 260
      },
      "id": "d2s00000-0000-4000-8000-900000000004",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        870,
        -160
      ]
    },
    {
      "parameters": {
        "content": "### Create or Update (MERGE)\n\nExasol has no `INSERT ON CONFLICT`; the node generates `MERGE INTO … USING (VALUES …)`. *Conflict Columns* = `SALES_DATE`: existing dates are updated, new dates inserted.",
        "height": 360,
        "width": 260
      },
      "id": "d2s00000-0000-4000-8000-900000000005",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1170,
        -160
      ]
    },
    {
      "parameters": {
        "content": "### Select Rows\n\nA structured SELECT built from collections: WHERE (`REVENUE > 0`) and sort (`SALES_DATE DESC`) — no SQL written by hand.",
        "height": 360,
        "width": 260
      },
      "id": "d2s00000-0000-4000-8000-900000000006",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1470,
        -160
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Resolve Write Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Write Schema": {
      "main": [
        [
          {
            "node": "Create Mart Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mart Table": {
      "main": [
        [
          {
            "node": "Aggregate Daily Revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Daily Revenue": {
      "main": [
        [
          {
            "node": "Upsert Into Mart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Into Mart": {
      "main": [
        [
          {
            "node": "Read Back Mart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
